PORT=4000
NODE_ENV=development
USER_SERVICE_URL=http://localhost:4001
RIDE_SERVICE_URL=http://localhost:4002
LOCATION_SERVICE_URL=http://localhost:4003
PAYMENT_SERVICE_URL=http://localhost:4004
NOTIFICATION_SERVICE_URL=http://localhost:4005
